body {
    height: 97vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

button {
    width: 200px;
    height: 50px;
    border-radius: 50%;
}

.central {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}

.red {
    background-image: url(../imgs/vulcao.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.blue {
    background: url(../imgs/mar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.green {
    background: url(../imgs/floresta.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#red {
    background-color: rgb(185, 26, 26);
    color: rgb(255, 255, 255);
    border-style: groove;
    border-color: rgb(255, 255, 255);
}
#blue {
    background-color: rgb(52, 52, 235);
    color: rgb(255, 255, 255);
    border-style: groove;
    border-color: rgb(255, 255, 255);
}
#green {
    background-color: green;
    color: rgb(255, 255, 255);
    border-style: groove;
    border-color: rgb(255, 255, 255);
}
