body {
    height: 100VH;
    background: url('../imgs/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background-color: bisque;
    width: 250px;
    border-radius: 10px;
    border-style: groove;
    border-color: black;
}

button {
    background-color: rgba(0, 0, 0, 0.409);
    color: rgb(192, 14, 14);
    font-size: 20px;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border-color: black;
}

span{
    color: aliceblue;
    
}

.central{
    background-color: rgba(0, 0, 0, 0.305);
    width: 300px;
    padding: 15px;
    gap: 15px;
    border-radius: 20px;
    box-shadow: 5px 10px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}