@font-face {
    font-family: Rabisco;
    src: url(/assets/fontes/i_know_a_ghost/iknowaghost.ttf);
}

body{
    height: 100vh;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(151,41,247,1) 0%, rgba(24,22,39,1) 90% );
    display: flex;
    justify-content: center;
    align-items: center;
}

.central{
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 10px black;
}

.central .titulo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.central .titulo img{
    height: 200px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px black;
}

.central .titulo span{
    font-size: 25px;
    font-family: Rabisco;
}

.central hr{
    background: black;
    height: 3px;
    border-radius: 50%;
}

.central p{
    text-align: justify;
}

/* TABLET */

@media (max-width: 1024px){
    body{
        background: linear-gradient(darkred, darkblue);
    }
}

/* CELULAR */

@media (max-width: 768px){
    body{
        background: linear-gradient(purple, red);
    }
    
    .central .titulo{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}