body {
    background: linear-gradient(rgb(39, 1, 92), darkblue);
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

button {
    background-color: rgb(49, 7, 117);
    color: rgba(255, 255, 255, 0.743);
    width: 70px;
    border-radius: 10px;
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
}

button:hover {
    background-color: rgb(176, 47, 224);
    color: aliceblue;
    opacity: 1;
    transform: translateY(-2px);
}

.central {
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    gap: 10px;
}

#stealth {
    width: 300px;
    display: flex;
    margin: 0 auto;
    padding: 10px;
}
